@media screen and (min-width: 280px) and (max-width: 359px) {

  /* HEADER */
  #header .inner {
    padding: 0 10px;
  }

  /* VIDEO */
  #video .video__title {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
  }

  /* VISUAL */
  #visual .text-group .text {
    max-width: 350px;
  }

  #video .video__title {
    display: flex;
    flex-direction: column;
  }

  /* THEME */
  #theme .inner {
    height: 600px;
  }
  
  #theme .theme__title {
    max-width: 100%;
    padding-top: 20px;
  }
}
