/* HEADER */
#header {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

#header .inner {
  padding: 25px 0;
  border-bottom: 1px solid #bdbdbd;
}

#header nav ul.main-menu li a,
#header nav ul.sub-menu li a {
  color: #fff;
}

#header nav ul.main-menu li.active a {
  color: #fff;
}

#header nav ul.main-menu li.active span {
  border-bottom: 1px solid #fff;
  color: #fff;
}