/* HEADER */
#header {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

#header .inner {
  padding: 25px 0;
  border-bottom: 1px solid #bdbdbd;
}

#header nav ul.main-menu li a,
#header nav ul.sub-menu li a {
  color: #fff;
}

#header nav ul.main-menu li.active a {
  color: #fff;
}

#header nav ul.main-menu li.active span {
  border-bottom: 1px solid #fff;
  color: #fff;
}

/* VIDEO */
#video .video__title {
  background-color: #0f1b28;
  max-width: none;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}

#video .video__title span {
  margin-right: 5px;
}

#video .video__title span:last-child {
  margin-right: 0;
}

/* VISUAL */
#visual {
  background-image: url("../img/experience/visual_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#visual .inner {
  height: 100vh;
}

#visual .text-group .text {
  max-width: 547px;
  position: absolute;
  margin: 5px 0;
}

#visual .text-group .text.text1 {
  top: 100px;
  left: 0;
}

#visual .text-group .text.text2 {
  bottom: 100px;
  right: 0;
}

#visual .text-group .text img {
  width: 100%;
}

/* THEME */
#theme {
  background-image: url("../img/experience/theme_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#theme .inner {
  height: 1000px;
}

#theme .theme__title {
  width: 930px;
  margin: 0 auto;
  padding-top: 90px;
}