@media screen and (max-width: 768px){
  /* SWIPER */
  .swiper.visual-swiper,
  .swiper.sub-swiper {
    max-width: 460px;
  }

  .swiper.visual-swiper {
    max-height: 260px;
  }

  .swiper.sub-swiper {
    max-height: 164px;
  }

  .swiper.visual-swiper .swiper-prev,
  .swiper.visual-swiper .swiper-next {
    width: 60px;
    height: 60px;
  }

  .swiper.visual-swiper .swiper-prev span,
  .swiper.visual-swiper .swiper-next span {
    font-size: 60px;
  }

  .swiper.sub-swiper .swiper-prev,
.swiper.sub-swiper .swiper-next {
  width: 30px;
  height: 30px;
}

.swiper.sub-swiper .swiper-prev span,
.swiper.sub-swiper .swiper-next span {
  font-size: 30px;
}
  
  /* HEADER */
  #header nav,
  #header nav:last-child {
    display: none;
  }

  #header .inner {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
  }

  #header h1 {
    padding: 15px 0;
  }

  #header h1 a {
    width: 80px;
  }

  #header .toggle-btn {
    display: block;
  }

  /* VIDEO */
  #video .video__title {
    width: 403px;
  }

   /* YOUTUBE */
   #youtube .inner {
     max-height: 118px;
   }

   #youtube #player {
     display: none;
   }

   /* PRODUCTS */
   #products .product .inner {
    padding: 10px 0;
   }

   #products .product .title {
     width: 322px;
     height: auto;
     margin-bottom: 20px;
   }

   #products .product .title img {
     width: 100%;
     height: auto;
   }

   #products .product .description {
     flex-direction: column;
   }

   #products .product .description .text {
    padding-left: 0;
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
  }

  #products .product .description .text.text--mob {
    display: block;
  }

  #products .product .description .text.text--web {
    display: none;
  }

  #products .wit .wit__description img {
    height: 189px;
  }

  #products .pellong .pellong__description img {
    height: 181px;
  }

  #products .geomeong .geomeong__description img {
    height: 186px;
  }

  /* floating action button */
  .floating-btns {
    width: 45px;
    right: 15px;
    bottom: 15px;
  }

  .floating-btns li button {
    width: 45px;
    height: 45px;
  }

 
}