* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
small {
  font-size: 1em;
  line-height: normal;
}

em,
address {
  font-style: normal;
}

em {
  font-weight: var(--weight-bold);
}

button, .btn {
  display: block;
  border: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

/* 키보드로 버튼에 포커스 시 */
button:focus-visible {
  outline: 3px solid #000;
}

/* 마우스, 터치로 버튼에 포커스 시 */
button:focus:not(:focus-visible) {
  outline: none;
}

.hide {
  position: absolute;
  left: -5000px;
}