/* COMMON */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.hide {
  position: absolute;
  left: -5000px;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

#video video {
  width: 100%;
}

img {
  max-width: 300px;
}