/* COMMON */
:root {
  /* Color */
  --color-dark-gray: #55585b;
  --color-gray: #888;
  --color-light-gray: #999;
  --color-blue: #1ecad3;
  --color-white: #fff;
  --color-dark-white: #bdbdbd;

  /* Font size */
  --font-large: 20px;
  --font-normal: 16px;
  --font-regular: 14px;
  --font-medium: 13px;
  --font-small: 12px;
  --font-micro: 11px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /* Space */
  --spacing-large: 50px;
  --spacing-regular: 30px;
  --spacing-medium: 15px;
  --spacing-small: 12px;
  --spacing-micro: 10px;

  /* Transition */
  --transition-duration: 300ms;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--font-normal);
  font-weight: var(--weight-semi-bold);
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
small {
  font-size: 1em;
  line-height: normal;
}

em,
address {
  font-style: normal;
}

em {
  font-weight: var(--weight-bold);
}

.hide {
  position: absolute;
  left: -5000px;
}

/* SWIPER */
.swiper.visual-swiper {
  width: 1000px;
  height: 615px;
  position: relative;
}

.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper .swiper-prev,
.swiper .swiper-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
  z-index: 1;
}

.swiper.visual-swiper .swiper-prev,
.swiper.visual-swiper .swiper-next {
  width: 60px;
  height: 60px;
}

.swiper .swiper-prev {
  left: 20px;
}

.swiper .swiper-next {
  right: 20px;
}

.swiper.visual-swiper .swiper-prev span,
.swiper.visual-swiper .swiper-next span {
  font-size: 60px;
  color: var(--color-white);
}

.swiper.sub-swiper {
  width: 1000px;
  position: relative;
  min-height: 216px;
  height: 216px;
}

.swiper.sub-swiper .swiper-slide {
  padding: 7px 5px 5px 0;
}

.swiper.sub-swiper .swiper-prev,
.swiper.sub-swiper .swiper-next {
  width: 30px;
  height: 30px;
}

.swiper.sub-swiper .swiper-prev span,
.swiper.sub-swiper .swiper-next span {
  font-size: 30px;
  color: var(--color-white);
}

/* INNER */
.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
#header {
  background-color: var(--color-white);
}

#header .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-regular) 0;
}

#header h1 {
  padding: var(--spacing-regular) 0;
}

#header h1 a {
  display: block;
  width: 120px;
}

#header h1 a img {
  width: 100%;
}

#header nav ul.main-menu {
  display: flex;
  padding-top: var(--spacing-micro);
}

#header nav ul.main-menu li.active span {
  padding: var(--spacing-small) 0;
  border-bottom: 1px solid var(--color-blue);
}

#header nav ul.main-menu li a {
  display: block;
  padding: 0 var(--spacing-large);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-dark-gray);
  transition: var(--transition-duration);
}

#header nav ul.main-menu li a:hover,
#header nav ul.main-menu li.active a:hover {
  color: var(--color-light-gray);
}

#header nav ul.main-menu li.active a {
  color: var(--color-blue);
}

#header nav:last-child {
  position: absolute;
  right: 0;
  top: 30px;
  display: flex;
  padding: var(--spacing-regular) 0;
}

#header nav ul.sub-menu {
  display: flex;
  align-items: center;
  margin-right: var(--spacing-medium);
}

#header nav ul.sub-menu li a {
  display: block;
  margin: 0 var(--spacing-micro);
  font-size: var(--font-small);
  color: var(--color-gray);
  transition: var(--transition-duration);
  font-weight: var(--weight-semi-bold);
}

#header nav ul.sub-menu li a:hover {
  color: var(--color-dark-white);
}

#header nav a.btn {
  display: block;
  padding: 4px calc(var(--spacing-micro) * 2);
  margin-left: 5px;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* VIDEO */
#video {
  position: relative;
}

#video video {
  width: 100%;
}

#video .video__title {
  max-width: 790px;
  margin: 0 auto;
}

#video .video__title img {
  width: 100%;
}

/* YOUTUBE */
#youtube {
  background-image: url("../img/youtube_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#youtube .inner {
  height: 1070px;
}

#youtube #player {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}


/* JEJU WIT ALE  */
#wit {
  background-image: url("../img/witale_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#wit .inner,
#pellong .inner,
#geomeong .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-regular) 0 calc(var(--spacing-large) * 3) 0;
}

#wit .wit__title {
  height: 110px;
  margin-bottom: 75px;
}

#wit .wit__title img {
  height: 100%;
  width: auto;
}

#wit .wit__description,
#pellong .pellong__description,
#geomeong .geomeong__description {
  display: flex;
  align-items: center;
  padding-bottom: calc(var(--spacing-micro) * 2);
}

#wit .wit__description img {
  height: 309px;
}

#wit .wit__description .text {
  width: 500px;
  height: 116px;
  box-sizing: border-box;
}

#wit .wit__description .text,
#pellong .pellong__description .text,
#geomeong .geomeong__description .text {
  padding-left: 40px;
  font-size: var(--font-large);
  color: var(--color-white);
  font-weight: var(--weight-regular);
}

/* JEJU PELLONG ALE */
#pellong {
  background-image: url("../img/pellongale_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#pellong .pellong__title {
  width: 400px;
  margin-bottom: 75px;
}

#pellong .pellong__title img {
  width: 100%;
}

#pellong .pellong__description img {
  width: auto;
  height: 279px;
}

#pellong .pellong__description .text {
  width: 660px;
  height: 128px;
}

/* JEJU GEOMEONG ALE */
#geomeong {
  background-image: url("../img/geomeongale_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#geomeong .inner {
  padding-bottom: 50px;
}

#geomeong .geomeong__title {
  width: 400px;
  margin-bottom: 75px;
}

#geomeong .geomeong__title img {
  width: 100%;
}

#geomeong .geomeong__description .text {
  width: 560px;
  height: 96px;
}

/* STORE */
#store {
  padding: var(--spacing-large) 0;
  background-color: var(--color-white);
}

#store .store__description {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: var(--spacing-regular);
  text-align: center;
  color: var(--color-blue);
  font-size: var(--font-large);
  font-weight: var(--weight-regular);
}

/* FOOTER */
#footer {
  background-color: var(--color-white);
  padding: var(--spacing-large) 0;
}

#footer .inner .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .top .footer__menu {
  display: flex;
}

#footer .top .footer__menu li a {
  display: block;
  padding: 10px;
  margin: 0 15px 15px 0;
  font-weight: var(--weight-regular);
  color: var(--color-light-gray);
  font-size: var(--font-regular);
}

#footer .top .footer__menu li.active a {
  color: var(--color-blue);
}

#footer .top .links {
  display: flex;
  align-items: center;
}

#footer .top .links li:first-child a {
  width: 190px;
  padding-left: 0;
}

#footer .top .links li a {
  display: block;
  width: 40px;
  padding-left: 10px;
}

#footer .top .links li img {
  width: 100%;
}

#footer .bottom .info {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-medium);
}

#footer .bottom .info span {
  font-size: var(--font-medium);
  color: var(--color-light-gray);
  font-weight: var(--weight-regular);
  line-height: 1.8em;
}

#footer .bottom .copyright small {
  font-size: var(--font-micro);
  color: var(--color-light-gray);
  font-weight: var(--weight-bold);
}

/* FLOATING ACTION BUTTON */
.floating-btns {
  width: 60px;
  position: fixed;
  right: 30px;
  bottom: 50px;
  z-index: 9;
}

.floating-btns li {
  margin-top: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.floating-btns li:first-child {
  margin-top: 0;
}

.floating-btns li.top-btn {
  width: 60px;
  height: 60px;
}

.floating-btns li.top-btn img {
  width: 100%;
  height: 100%;
}

.floating-btns li.top-btn.hidden {
  display: none;
}

.floating-btns li a {
  display: block;
  width: 60px;
  height: 60px;
}

.floating-btns li a img {
  width: 100%;
  height: 100%;
}