/* COMMON */
br.only-m {
  content: '';
}

br.only-m::after {
  content: '\00a0';
}

/* HEADER */
#header {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

#header .inner {
  padding: 25px 0;
  border-bottom: 1px solid #bdbdbd;
}

#header nav ul.main-menu li a,
#header nav ul.sub-menu li a,
#header nav ul.main-menu li.active a {
  color: #fff;
}

#header nav ul.main-menu li.active span {
  border-bottom: 1px solid #fff;
}

/* VIDEO */
#video .video__title {
  background-color: #0f1b28;
  max-width: none;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}

#video .video__title span {
  margin-right: 5px;
}

#video .video__title span:last-child {
  margin-right: 0;
}

/* VISUAL -1-*/
.visual {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.visual.visual1 {
  background-image: url("../../img/experience/visual1_bg.jpg");
  background-attachment: fixed;
}

.visual.visual1 .inner {
  height: 100vh;
}

.visual.visual1 .text-group .text {
  max-width: 547px;
  position: absolute;
  margin: 5px 0;
}

.visual.visual1 .text-group .text.text1 {
  top: 100px;
  left: 0;
}

.visual.visual1 .text-group .text.text2 {
  bottom: 100px;
  right: 0;
}

/* SLOAGN */
#slogan {
  background-color: #fff;
}

#slogan .inner {
  padding: 100px 0;
}

#slogan .swiper.visual-swiper .swiper-slide.slide0 {
  background-image: url("../../img/experience/slogan_slide0.jpg");
}
#slogan .swiper.visual-swiper .swiper-slide.slide1 {
  background-image: url("../../img/experience/slogan_slide1.jpg");
}
#slogan .swiper.visual-swiper .swiper-slide.slide2 {
  background-image: url("../../img/experience/slogan_slide2.jpg");
}
#slogan .swiper.visual-swiper .swiper-slide.slide3 {
  background-image: url("../../img/experience/slogan_slide3.jpg");
}
#slogan .swiper.visual-swiper .swiper-slide.slide4 {
  background-image: url("../../img/experience/slogan_slide4.jpg");
}

#slogan .swiper.visual-swiper .swiper-pagination-bullet {
  width: 25px;
  height: 2px;
  margin: 5px 7.5px;
  background-color: #fff;
  border-radius: 0;
  opacity: .5;
}

#slogan .swiper.visual-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

#slogan .text-group {
  text-align: center;
  padding: 100px 0;
}

#slogan .text-group .text {
  font-size: 26px;
  color: #3d464b;
}

#slogan .text-group .text.text2 {
  font-weight: 700;
  margin-top: 60px;
}

#slogan .swiper.visual-swiper {
  padding-bottom: 0;
}

#slogan .swiper.sub-swiper {
  display: block;
  height: 520px;
}

#slogan .swiper.sub-swiper .swiper-slide.slide0 {
  background-image: url("../../img/experience/slogan_slide2.jpg");
}
#slogan .swiper.sub-swiper .swiper-slide.slide1 {
  background-image: url("../../img/experience/slogan_slide3.jpg");
}
#slogan .swiper.sub-swiper .swiper-slide.slide2 {
  background-image: url("../../img/experience/slogan_slide4.jpg");
}

/* VISUAL -2-*/
.visual.visual2 {
  background-image: url("../../img/experience/visual2_bg.png");
}

.visual.visual2 .inner {
  height: 1000px;
}

.visual.visual2 .title {
  width: 930px;
  margin: 0 auto;
  padding-top: 90px;
}