/* COMMON */
.mobile {
  display: none !important;
}

.pc {
  display: block !important;
}

br.only-m {
  content: '';
}

br.only-m::after {
  content: '\00a0';
}

/* HEADER */
#header {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

#header .inner {
  padding: 25px 0;
  border-bottom: 1px solid #bdbdbd;
}

#header nav ul.main-menu li a,
#header nav ul.sub-menu li a,
#header nav ul.main-menu li.active a {
  color: #fff;
}

#header nav ul.main-menu li.active span {
  border-bottom: 1px solid #fff;
}

/* VIDEO */
#video .video__title {
  background-color: #0f1b28;
  max-width: none;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}

#video .video__title span {
  margin-right: 5px;
}

#video .video__title span:last-child {
  margin-right: 0;
}

/* VISUAL -1-*/
.visual {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.visual.visual1 {
  background-image: url("../../img/experience/visual1_bg.jpg");
  background-attachment: fixed;
}

.visual.visual1 .inner {
  height: 100vh;
}

.visual.visual1 .text-group .text {
  max-width: 547px;
  position: absolute;
  margin: 5px 0;
}

.visual.visual1 .text-group .text.text1 {
  top: 100px;
  left: 0;
}

.visual.visual1 .text-group .text.text2 {
  bottom: 100px;
  right: 0;
}

/* SLOAGN */
#slogan {
  background-color: #fff;
}

#slogan .inner {
  padding: 100px 0;
}

#slogan .swiper.visual-swiper .swiper-slide.slide0 {
  background-image: url("../../img/experience/slogan_slide0.jpg");
}
#slogan .swiper.visual-swiper .swiper-slide.slide1 {
  background-image: url("../../img/experience/slogan_slide1.jpg");
}
#slogan .swiper.visual-swiper .swiper-slide.slide2 {
  background-image: url("../../img/experience/slogan_slide2.jpg");
}
#slogan .swiper.visual-swiper .swiper-slide.slide3 {
  background-image: url("../../img/experience/slogan_slide3.jpg");
}
#slogan .swiper.visual-swiper .swiper-slide.slide4 {
  background-image: url("../../img/experience/slogan_slide4.jpg");
}

#slogan .swiper.visual-swiper .swiper-pagination-bullet {
  width: 25px;
  height: 2px;
  margin: 5px 7.5px;
  background-color: #fff;
  border-radius: 0;
  opacity: .5;
}

#slogan .swiper.visual-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

#slogan .text-group {
  text-align: center;
  padding: 100px 0;
}

#slogan .text-group .text {
  font-size: 26px;
  color: #3d464b;
}

#slogan .text-group .text.text2 {
  font-weight: 700;
  margin-top: 60px;
}

#slogan .swiper.visual-swiper {
  padding-bottom: 0;
}

#slogan .swiper.sub-swiper {
  display: block;
  height: 520px;
}

#slogan .swiper.sub-swiper .swiper-slide.slide0 {
  background-image: url("../../img/experience/slogan_slide2.jpg");
}
#slogan .swiper.sub-swiper .swiper-slide.slide1 {
  background-image: url("../../img/experience/slogan_slide3.jpg");
}
#slogan .swiper.sub-swiper .swiper-slide.slide2 {
  background-image: url("../../img/experience/slogan_slide4.jpg");
}

/* VISUAL -2-*/
.visual.visual2 {
  background-image: url("../../img/experience/visual2_bg.png");
}

.visual.visual2 .inner {
  height: 1000px;
}

.visual.visual2 .title {
  width: 930px;
  margin: 0 auto;
  padding-top: 90px;
}

/* THEME */
#theme {
  background-color: #fff;
  text-align: center;
}

#theme .inner {
  padding: 100px 0;
}

#theme .theme__title {
  font-size: 48px;
  color: #1ecad3;
}

#theme .theme__description {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #3d464b;
  padding: 30px 0 100px 0;
}

#theme .theme__menu {
  display: flex;
  justify-content: center;
}

#theme .theme__menu li {
  margin: 0 15px;
}

#theme .theme__menu li:nth-child(1) button.selected {
  background-color: #8592ef;
}
#theme .theme__menu li:nth-child(2) button.selected {
  background-color: #1ecad3;
}
#theme .theme__menu li:nth-child(3) button.selected {
  background-color: #edac91;
}

#theme .theme__menu li button {
  width: 260px;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  background-color: #cbcccd;
  padding: 15px;
  border-radius: 50px;
}

#theme .theme__menu li button span {
  font-weight: 700;
}

#theme .theme__content {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

#theme .theme__content.invisible {
  display: none;
}

#theme .theme__content .content {
  position: relative;
}

#theme .theme__content .content span {
  position: absolute;
  left: 30px;
  color: #fff;
  font-size: 20px;
  text-align: left;
}

#theme .theme__content.first .content span,
#theme .theme__content.third .content span {
  bottom: 30px;
}

#theme .theme__content.first .content:last-child span,
#theme .theme__content.third .content:first-child span {
  top: 30px;
}

#theme .theme__content.second .content span {
  top: 30px;
}

#theme .theme__content.first .left,
#theme .theme__content.second .right,
#theme .theme__content.third .left {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  color: #545759;
}

#theme .theme__content.first .left,
#theme .theme__content.third .left {
  flex-basis: 60%;
}
#theme .theme__content.second .left {
  flex-basis: 35%;
}

#theme .theme__content .version {
  color: #fff;
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 50px;
  max-width: 520px;
  line-height: 50px;
  text-align: center;
}

#theme .theme__content.first .version {
  background-color: #8592ef;
}
#theme .theme__content.second .version {
  background-color: #1ecad3;
}
#theme .theme__content.third .version {
  background-color: #edac91;
}

#theme .theme__content .version span::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 10px;
  left: -4px;
  width: 45px;
  height: 45px;
  margin: 0 10px;
  background: url("../../img/experience/theme_title.png") no-repeat center/cover;
}

#theme .theme__content .title {
  font-size: 56px;
  letter-spacing: -0.05em;
  line-height: 1.3;
  margin: 50px 0;
}

#theme .theme__content.first .left .description p:last-child,
#theme .theme__content.second .right .description p:last-child,
#theme .theme__content.third .left .description p:last-child {
  margin-top: 20px;
}

#theme .theme__content.first .left .content,
#theme .theme__content.second .right .content,
#theme .theme__content.third .left .content {
  margin: 50px 0;
}

#theme .theme__content.first .right,
#theme .theme__content.third .right {
  flex-basis: 35%;
}
#theme .theme__content.second .right {
  flex-basis: 60%;
}

#theme .theme__content.first .right .content ~ .content,
#theme .theme__content.second .left .content ~ .content,
#theme .theme__content.third .right .content ~ .content {
  margin-top: 30px;
}

/* GIFT */
#gift {
  background-color: #6ad1d6;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

#gift .inner {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gift .mark {
  width: 250px;
  height: 35px;
  border-radius: 50px;
  font-weight: 700;
  color: #6ad1d6;
  background-color: #fff;
  
}

#gift .gift__title {
  font-size: 48px;
  padding: 20px 0;
}

#gift .today-gift {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

#gift .today-gift img {
  width: 150px;
}

#gift .today-gift > div {
  padding-left: 30px;
  text-align: left;
}

#gift .today-gift > div .title {
  font-size: 26px;
}

#gift .today-gift > div .description:first-of-type {
  padding: 10px 0;
}

#gift .today-gift > div .description:last-of-type {
  font-size: 16px;
}

#gift .image-group {
  display: flex;
}

#gift .image-group img {
  width: 30%;
}

#gift .image-group img ~ img {
  margin-left: 20px;
}

/* QUESTION AND ANSWER */
#question-and-answer {
  background-color: #f5f5f5;
}

#question-and-answer .inner {
  padding: 100px 0;
}

#question-and-answer h2 {
  color: #1ecad3;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  line-height: 1.8;
}

#question-and-answer dl {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  color: #3e474c;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  position: relative;
}

#question-and-answer dl::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 1000px;
  height: 1px;
  background-color: #1ecad3;

}

#question-and-answer dl dt {
  color: #1ecad3;
  font-size: 20px;
  font-weight: 700;
}

#question-and-answer dl dd {
  padding: 2px 0 10px 40px;
}

#question-and-answer dl dd em {
  font-size: 20px;
  font-weight: 700;
}

#question-and-answer dl:first-of-type dd p {
  font-weight: 700;
}

#question-and-answer dl:first-of-type dd:first-of-type strong {
  text-decoration: underline;
}

#question-and-answer dl:first-of-type dd:nth-of-type(2) strong {
  color: #ef8470;
}