@media screen and (min-width: 360px) and (max-width: 767px) {
  /* COMMON */
  .pc {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }
  
  br.only-m,
  br.only-m::after {
    content: normal;
  }

  /* SWIPER */
  #slogan .swiper.visual-swiper {
    max-height: 440px;
  }  

  /* HEADER */
  #header.white {
    background-color: #fff;
  }

  #header .inner {
    padding: 0 10px;
  }

  #header nav ul.main-menu li a,
  #header nav ul.main-menu li.active a {
    color: #55585b;
  }

  #header nav ul.main-menu li.active span {
    border-bottom: 2px solid #1ecad3; 
  }

  /* VIDEO */
  #video .video__title {
    font-size: 16px;
    font-weight: 400;
  }

  /* VISUAL -1-*/
  .visual.visual1 {
    background-attachment: scroll;
  }

  .visual.visual1 .text-group .text {
    max-width: 350px;
  }

  /* SLOGAN */
  #slogan .inner {
    padding: 50px 0;
  }

  #slogan .text-group {
    padding: 30px 10px 0 10px;
  }

  #slogan .text-group .text {
    font-size: 16px;
  }

  #slogan .text-group .text.text2 {
    margin-top: 30px;
  }

  #slogan .swiper.sub-swiper {
    display: none;
  }
  

  /* VISUAL -2-*/
  .visual.visual2 .inner {
    height: 600px;
  }

  .visual.visual2 .title {
    max-width: 100%;
    padding-top: 20px;
  }

  /* THEME */
  #theme .inner {
    padding: 50px 0;
  }

  #theme .theme__title {
    font-size: 24px;
  }

  #theme .theme__description {
    font-size: 16px;
    padding: 15px 0 50px 0;
  }

  #theme .theme__menu li {
    margin: 0 5px;
  }

  #theme .theme__menu li button {
    width: 100px;
    padding: 10px;
    font-size: 14px;
  }

  #theme .theme__content {
    flex-direction: column;
    margin: 30px 0;
  }

  #theme .theme__content.second {
    flex-direction: column-reverse;
  }

  #theme .theme__content .content span {
    font-size: 14px;
    font-weight: 400;
  }

  #theme .theme__content.first .left,
  #theme .theme__content.second .right,
  #theme .theme__content.third .left {
    font-size: 15px;
  }

  #theme .theme__content .version {
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
  }

  #theme .theme__content .version span::after {
    width: 25px;
    height: 25px;
  }

  #theme .theme__content .title {
    font-size: 30px;
    padding: 0 10px;
  }

  #theme .theme__content.first .left .description p:last-child,
  #theme .theme__content.second .right .description p:last-child,
  #theme .theme__content.third .left .description p:last-child {
    margin: 20px 0;
  }

  #theme .theme__content .description {
    padding: 0 10px;
    letter-spacing: -0.5px;
  }

  /* GIFT */
  #gift {
    font-size: 17px;
    font-weight: 400;
  }

  #gift .inner {
    padding: 50px 10px;
  }

  #gift .gift__title {
    font-size: 24px;
  }

  #gift .today-gift {
    flex-direction: column;
    padding: 30px 0;
  }

  #gift .today-gift img {
    width: 140px;
    margin-bottom: 10px;
  }

  #gift .today-gift > div {
    padding-left: 0;
  }

  #gift .today-gift > div .title {
    font-size: 17px;
  }

  #gift .today-gift > div .description:first-of-type,
  #gift .today-gift > div .description:last-of-type {
    font-size: 15px;
  }

  /* QUESTION AND ANSWER */
  #question-and-answer .inner {
    padding: 50px 15px;
  }

  #question-and-answer h2 {
    font-size: 40px;
  }

  #question-and-answer dl {
    font-size: 16px;
    padding: 20px 0;
    border-bottom: 1px solid #1ecad3;
  }

  #question-and-answer dl::after {
    display: none;
  }

  /* TOGETHER */
  #together .inner {
    padding: 50px 15px;
  }

  #together .together__title {
    font-size: 24px;
    font-weight: 400;
  }

  #together .together__description {
    font-size: 17px;
    padding: 40px 0;
  }

  #together .together__links li .btn {
    width: 60px;
    height: 60px;
  }

  /* NOTICE */
  #notice .inner {
    padding: 50px 15px;
  }

  #notice .notice__title {
    font-size: 17px;
  }

  #notice .notice__description {
    font-size: 15px;
  }
}
