@media screen and (min-width:768px) and (max-width:1023px) {
  /* COMMON */
  .pc {
    display: none !important;
  }
  
  br.only-m,
  br.only-m::after {
    content: normal;
  }

  /* SWIPER */
  #slogan .swiper.visual-swiper {
    min-height: 1000px;
  }  

  /* HEADER */
  #header.white {
    background-color: #fff;
  }

  #header .inner {
    padding: 0 10px;
  }

  #header nav ul.main-menu li a,
  #header nav ul.main-menu li.active a {
    color: #55585b;
  }

  #header nav ul.main-menu li.active span {
    border-bottom: 2px solid #1ecad3;
  }

  /* VIDEO */
  #video .video__title {
    font-size: 16px;
    font-weight: 400;
  }

  /* VISUAL -1-*/
  .visual.visual1 .text-group .text {
    max-width: 350px;
  }

  /* VISUAL -2-*/
  .visual.visual2 .inner {
    height: 600px;
  }

  .visual.visual2 .title {
    max-width: 100%;
    padding-top: 20px;
  }
}