@media screen and (min-width: 360px) and (max-width: 767px) {
  /* COMMON */
  br.only-m,
  br.only-m::after {
    content: normal;
  }

  /* SWIPER */
  #slogan .swiper.visual-swiper {
    max-height: 440px;
  }  

  /* HEADER */
  #header.white {
    background-color: #fff;
  }

  #header .inner {
    padding: 0 10px;
  }

  #header nav ul.main-menu li a,
  #header nav ul.main-menu li.active a {
    color: #55585b;
  }

  #header nav ul.main-menu li.active span {
    border-bottom: 2px solid #1ecad3; 
  }

  /* VIDEO */
  #video .video__title {
    font-size: 16px;
    font-weight: 400;
  }

  /* VISUAL */
  #visual .text-group .text {
    max-width: 350px;
  }

  /* SLOGAN */
  #slogan .inner {
    padding: 50px 0;
  }

  #slogan .text-group {
    padding: 30px 10px 0 10px;
  }

  #slogan .text-group .text {
    font-size: 16px;
  }

  #slogan .text-group .text.text2 {
    margin-top: 30px;
  }

  #slogan .swiper.sub-swiper {
    display: none;
  }
  

  /* THEME */
  #theme .inner {
    height: 600px;
  }

  #theme .theme__title {
    max-width: 100%;
    padding-top: 20px;
  }
}
